body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:#A6A6A6;
}

h1 {
    color: #940e0a;
    font-family: lexend;
    font-weight: 300;
    }

footer {
    margin-top: auto;
    font-family: lexend;
}


.btn-signup,
.btn-edit {
    background-color:#940e0a;
    color: #A6A6A6;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #e0514c;
    color: #A6A6A6;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.fab {
    color:#940e0a
}
.fab:hover{
    color: #e0514c
}
