body {
    background:#A6A6A6;
}

h1 {
    color: red;
    font-family: lexend;
    font-weight: 300;
    }

footer {
    font-family: lexend;
}


.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}