{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Delete Booking</h2>
    <p>Are you sure you want to delete your booking for {{ object.course.name }} on {{ object.date }} at {{ object.time }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'bookings_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}