{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">About Me</h2>
    <div class="text-center mb-4">
        <img src="{% static 'images/pooja.png' %}" alt="Pooja Dass" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
    </div>
    <p class="text-center">How nice that you are taking a look at my program.<br>
        My name is Pooja Dass. I am a nurse and work in the Emergency Department at the hospital. To get here, I first completed an MBO and HBO nursing education. After that, I worked for 5 years in the neurology/neurosurgery department before pursuing training in emergency care. <br>
        During my work in the emergency department, I encounter many children of all ages. I really enjoy guiding the children through their needs and explaining everything that is happening and what will be done.<br>
        I have noticed that children who come to the emergency department from playing outside or from school due to an accident do not always receive good information. This is not only about the type of injury but also about how to initially respond to such an accident. <br> <em>For example,</em> if you fall and get a wound, there are some steps you can take before going to the (family) doctor or hospital.<br>
        I want to convey this information to the children. In addition to explaining situations and how to respond to them, I also want to show the children how they can apply this knowledge to help another child. My goal is to teach children how to provide first aid to fellow students/children.</p>
        <div class="row">
            <!-- Courses -->
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.name }} Image">
                    {% else %}
                        <img src="{% static 'images/default-course.jpg' %}" class="card-img-top" alt="Default Course Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <a href="{% url 'book_course' course.id %}" class="btn btn-signup">Book</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}